<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css">
    <title>Document</title>
</head>

<body>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Rock+Salt&family=Rozha+One&family=Yeseva+One&family=Yesteryear&display=swap" rel="stylesheet">

<section>
  <div class="back"></div>
  <ul class="menu">
    <li>Web Developper</li>
    <li>Vidéo Maker</li>
    <li>Montréal</li>
    <li>Max</li>
  </ul>
  
  <span class="line"></span>
  
  <div class="text">
    <p>
      <span>I'm a WEB DEVELOPPER.</span> <br>I'm baby gluten-free cornhole prism meh mlkshk skateboard chillwave vaporware hell of      intelligentsia pork belly shoreditch ethical shaman DIY. Deep v pickled waistcoat, master cleanse YOLO heirloom skateboard schlitz banh mi
    </p>
  </div>
  
  <div class="title">
    <h1>Max</h1>
    
  </div>
  

 </section>

</body>
</html>